
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeListWithDepartment</title>
</head>
<body>
</body>
</html>


@* 00:50. dakika *@@* 00:50. dakika *@